<div class="container">
  <h1>CSS Fundamentals</h1>
  <h2>position, display, float 🤔</h2>
  <p>CSS has a lot of stuff that is fun to talk about. For this presentation we will focus on the layout aspects. Or to phrase it differently, we will focus on 'making things go where we want them to go'.</p>
  <h3>+ one fancy goodie 🎁</h3>
  <hr>
  <h1>position</h1>
  <ul>
    <li>static</li>
    <li>fixed</li>
    <li>sticky</li>
    <li>relative</li>
    <li>absolute</li>
  </ul>
  <h3>static => 'I do nothing.'</h3>
  <div class="code-highlight">
    <pre>
      position: static;
      left: 30px; // does nothing
      right: 30px; // does nothing
    </pre>
  </div>
  <div class="p-static-e1 example-container">
    This is a position static element.
  </div>
  <p>The only use case where you would want to write position: static; is when you want to override a position value from another selector.</p>
  <hr>
  <h3>fixed => 'I don't have a daddy'</h3>
  <div class="code-highlight">
    <pre>
      position: fixed;
      bottom: 30px;
      right: 30px;
    </pre>
  </div>
  <label class="apply-example"><input type="checkbox" [(ngModel)]="pFixed1"> Apply example</label>
  <div class="example-container" [ngClass]="{'p-fixed-e1' : pFixed1}">
    This is a position fixed element.
  </div>
  <p>You want to use this when you want to display a container by taking it out of the normal flow of the webpage and controling where it will appear depending on the viewport.</p>
  <hr>
  <h3>sticky => 'I don't need javascript no mo''</h3>
  <div class="code-highlight">
    <pre>
      position: sticky;
      top: 0;
    </pre>
  </div>
  <label class="apply-example"><input type="checkbox" [(ngModel)]="pSticky1"> Apply example</label>
  <div class="example-container" [ngClass]="{'p-sticky-e1' : pSticky1}">
    This is a position sticky element.
  </div>
  <p>It's useful for navigation bars or table headers - something that you want to stay on the top of the screen when you start scrolling.</p>
  <hr>
  <h3>relative => 'I'm my own boss.'</h3>
  <div class="code-highlight">
    <pre>
      position: relative;
      left: 30px;
      top: 30px;
    </pre>
  </div>
  <label class="apply-example"><input type="checkbox" [(ngModel)]="pRelative1"> Apply example</label>
  <div class="example-container" [ngClass]="{'p-relative-e1' : pRelative1}">
    This is a position relative element.
  </div>
  <p>It's relative to it's original position.</p>
  <hr>
  <h3>relative => 'Where's my daddy?'</h3>
  <div class="code-highlight">
    <pre>
      position: absolute;
      left: 30px;
      top: 30px;
    </pre>
  </div>
  <label class="apply-example"><input type="checkbox" [(ngModel)]="pAbsolute1"> Apply example</label>
  <div class="example-container" [ngClass]="{'p-absolute-e1' : pAbsolute1}">
    This is a position absolute element.
  </div>
  <p>Absolute element is relative to it's closes ancestor that has a position.</p>
  <hr>
  <h3>Examples</h3>
  <label class="apply-example"><input type="checkbox" [(ngModel)]="pExample1"> Example #1</label>
  <div class="example-p-1" *ngIf="pExample1">
    <div class="inner"></div>
  </div>
  <label class="apply-example"><input type="checkbox" [(ngModel)]="pExample2"> Example #2</label>
  <div class="example-p-2" *ngIf="pExample2">
    There's only one thing I hate more than lying: skim milk. Which is water that is lying about being milk.
    <div class="inner"></div>
  </div>
  <label class="apply-example"><input type="checkbox" [(ngModel)]="pExample3"> Example #3</label>
  <div class="example-p-3" *ngIf="pExample3">
    Dear frozen yogurt, you are the celery of desserts. Be ice cream or be nothing. Zero stars.
    <div class="inner"></div>
  </div>
  <hr>
  <h1>display</h1>
  <p>display property is used to determine the 'box' of the element</p>
  <p>browser default stylesheet sets the display property for each of the valid html elements</p>
  <p>There are more possible values, but here we will cover the most useful/used ones: inline, block, inline-block, flex, grid</p>
  <h2>display: block;</h2>
  <p>a block element uses up the full width of it's parent, and by default has the height adjusted to fit the content</p>
  <p>div, p, h1-6 ... are by default block elements</p>
  <div class="code-highlight">
    <pre>
      height: 40px;
      width: 400px;
      background: red;
      padding: 50px;
    </pre>
  </div>
  <div style="background: red;">This is a block element. A div.</div>
  <p>One can apply width and height to a block element.</p>
  <div style="height: 100px; width: 100px; background: red;"></div>
  <div>
    <div style="height: 100px; width: 100px; background: red;"></div>
    <div>Ron is a born leader. this div goes to a new line because it's a block element, even though the div above has width constrained to 100px</div>
    <img src="assets/ron.jpg">
  </div>
  <div style="padding: 30px; margin: 30px; background: yellow;">you can apply padding and margin to a block element, and it will </div>
  <p>display: inline; is useful for formatting certain parts of the text, nothing else.</p>
  <hr>
  <h2>display: inline;</h2>
  <div class="code-highlight">
    <pre>
      height: 40px;
      width: 400px;
      background: red;
      padding: 50px;

    </pre>
  </div>
  <span style="height: 40px; width: 400px; background: red;">This is a span element.</span>
  <p>inline element ignores width, height, and margins work only on the x-axis</p>
  <div>
    <span style="margin: 50px; padding: 30px; background: yellow;">Some span</span>
    <span>Another span</span>
  </div>
  <div>
    <img src="assets/ron.jpg">
    This is Ron. img element is also inline by default.
  </div>
  <p>display: inline; is useful for formatting certain parts of the text, nothing else.</p>
  <hr>

</div>
